<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Empleado</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous">
  </head>
  <body>

    <h2>Formulario Crear Empleado</h2>
    <form #empleadoForm="ngForm" (ngSubmit)="agregarEmpleado(empleadoForm)">
      <fieldset>
        <legend>Crear Empleado</legend>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Nombre
            Empleado</label>
          <input type="text" name="nombre" id="nombre" class="form-control"
            placeholder="Nombre y Apellido" ngModel required>
        </div>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Cargo
            Empleado</label>
          <input type="text" name="cargo" id="cargo" class="form-control"
            placeholder="Ingresa tu Cargo" ngModel required>
        </div>
        <div class="mb-3">
          <label for="disabledTextInput" class="form-label">Salario
            Empleado</label>
          <input type="number" name="salario" id="salario" class="form-control"
            placeholder="Ingresa el Salario" ngModel required>
        </div>
        <div class="mb-3">
          <label for="disabledSelect" class="form-label">Sucursal del
            Empleado</label>
          <select name="sucursal" id="sucursal" class="form-select" ngModel required>
            <option value="">Seleccionar</option>
            <option value="Medellín">Medellín</option>
            <option value="Cali">Cali</option>
            <option value="Bogota">Bogota</option>
          </select>

        </div>
        <div class="mb-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox"
              id="disabledFieldsetCheck">
            <label class="form-check-label" for="disabledFieldsetCheck">
              Can’t check this
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="empleadoForm.invalid">Enviar</button>
      </fieldset>
    </form>
  </body>

</html>